
        body {
            color: #3f3f3f;
            font-family: sans-serif;
            margin: 0;
        }
        .ff {
            font-size: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        div {
            display: flex;
            align-items: center;
        }
        .inno{
            font-size: 15px;
            
            margin-left: 15px
        }
        h2{
            color: black;
            margin-left: 10px;
            text-align: center;
        }
        .ass{
            text-align: center;
            font-family: fantasy;
        }
        .pweb{
    font-size: 25px;
    text-deciration: none;
    color: black;
    text-align: center;
    justify-content: center;
}
i[id=mail]{
    color: white;
    font-size: 20px;
    margin-left: 7px;
}
.goal{
    justify-content: center;
    text-align: center;
}
.bgoal{
background-color: #303abf;
            border: blue;
            color: white;
            height: 50px;
            width: 140px;
            border-radius: 18px;
            font-size: 16px;
            text-align: center;
            justify-content: center;
}
footer{
            background-color: #F2F0EF;
            bottom: 0;
            flex-shrink: 0;
            margin-top: 20px;
            padding: 20px;
       }
       .follow{
            font-size: 20px;
            margin-left: 35px;
            justify-content: left;
            color: black;
       }
       .afooter{
            color: black;
            text-decoration: none;
       }
        .fp{
            font-size: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
       i[id=contact] {
            color: black;
            font-size: 50px;
       }
       .fweb{
            font-size: 18px;
            text-decoration: none;
            color: black;
            justify-content: left;
       }
       a[id=contact]{
            text-decoration: none;
            color: black;
       }
       .eweb{
    font-size: 35px;
    text-deciration: none;
    color: black;
    text-align: center;
    justify-content: center;
}
i[id=back]{
    font-size: 22px;
    margin-left: 10px;
}
.back{
    color: black;
}
i[id=quote]{
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.img{
    text-align: center;
    justify-content: center;
    
}
    .img1{
        border-radius: 50%;
        border: 4px solid #303abf;
    }
    
    
    
    
    i[id=mail]{
    color: white;
    font-size: 20px;
    margin-left: 7px;
}
.fgoal{
    justify-content: center;
    text-align: center;
}
.tgoal{
background-color: #303abf;
            border: blue;
            color: white;
            height: 50px;
            width: 140px;
            border-radius: 18px;
            font-size: 16px;
            text-align: center;
            justify-content: center;
}
h3{
    margin-left: 12px;
}